<div id="myGallery">
 <img src="C:\Users\ashav_000\Desktop\MySafeTrip!\rails_proj\blog\app\assets\images\IMG_2548dm" class="active"  />
 <img src="C:\Users\ashav_000\Desktop\MySafeTrip!\rails_proj\blog\app\assets\images\IMG_8755"  />
    >
</div>